<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506996657992-s5b0j0f8ipho3nsb2860sok6um2sk8qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506996657992-s5b0j0f8ipho3nsb2860sok6um2sk8qb</string>
	<key>API_KEY</key>
	<string>AIzaSyABJCLfBlMaq9dbDkmANnZvz9nmWWjjdpI</string>
	<key>GCM_SENDER_ID</key>
	<string>506996657992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fluttermet</string>
	<key>PROJECT_ID</key>
	<string>rmd-met-1008231950</string>
	<key>STORAGE_BUCKET</key>
	<string>rmd-met-1008231950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506996657992:ios:1424eb506f24f20b15ed7d</string>
</dict>
</plist>